route:
  receiver: 'line-noti'
  group_wait: 5s
  group_interval: 10s
  repeat_interval: 5m

receivers:
- name: 'line-noti'
  webhook_configs:
  - url: https://notify-api.line.me/api/notify
    send_resolved: true
    http_config:
      bearer_token: '{{ line_token }}'
